.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;

}

.featuredItem1 {
  flex: 3;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 20px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.featuredItem2 {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;

}
.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}
.searchBox{
    background: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 5px;
    
}
.searchBox input{
    width: 80%;
        padding: 10px;
            border-radius: 20px;
}
.searchBox button{
    width: 20%;
    background: rgb(240, 231, 255);
    border: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;

}
.foodCardsection{
            border-radius: 20px;
            width: 100%;
}
.foodCard{
    background: #fff;
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;


}
.foodCardTop{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.foodCardTopLeft{
    display: flex;
    align-items: center;
    gap: 10px;

}
.foodCardTopRight{
    display: flex;
    align-items: center;
    gap: 10px;
}