.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.featuredItem1 {
  flex: 2.5;
  margin: 0px 20px 0px 0px;
  padding: 30px;
  border-radius: 20px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.featuredItem2 {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;

}
.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}
.foodCardPercent1{
    background: rgb(236, 239, 255);
    padding: 5px 10px;
    border-radius: 20px;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}
.searchBox{
    background: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 5px;
    
}
.searchBox input{
    width: 80%;
        padding: 10px;
            border-radius: 20px;
}
.searchBox button{
    width: 20%;
    background: rgb(240, 231, 255);
    border: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;

}
.foodCardsection{
            border-radius: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
}
.foodCard{
    background: #fff;
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 0px;


}
.foodCardTop{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}
.foodCardTopLeft{
    display: flex;
    align-items: center;
    gap: 10px;

}
.foodCardTopRight{
    display: flex;
    align-items: center;
    gap: 10px;
}
.foodCardBottom{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 30px;
    padding: 10px;
}
.foodCardBottomLeft{
    display: flex;
    gap: 10px;
    overflow: hidden;

}
.foodCardBottomLeft img{
    width: 320px;
    height: 200px;
    border-radius: 20px;


}
.foodCardBottomRight{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.foodInfoTop{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
.topAvatar1{
    width: 20px;
    height: 20px;
}
.foodInfoChild{
    display: flex;
    gap: 10px;
    align-items: center;
}
.foodInfoBottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}